.widget-title {
    text-align: center;
    width: 100%;
    display: block;
    font-family: robotobold;
    color: #064d9d;
    font-size: 1em;
    margin-top: 10px;
}

.widget-subtitle {
    text-align: center;
    width: 100%;
    display: block;
    font-family: roboto;
    color: #064d9d;
    font-size: 0.8em;
    margin-bottom: 10px;
}
